<h1>Your Enrolled Courses</h1>

<% if @enrolled_courses.any? %>
  <ul>
    <% @enrolled_courses.each do |course| %>
      <li>
        <strong><%= course.name %></strong> - <%= course.description %>

        <% enrollment = Enrollment.find_by(student_id: @student.id, course_id: course.id) %>
        <% if enrollment %>
          <%= button_to "Unenroll", enrollment_path(enrollment), method: :delete, data: { confirm: "Are you sure you want to unenroll?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You are not enrolled in any courses yet.</p>
  <%= link_to "Browse Courses", courses_path %>
<% end %>
